@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
}

h2 {
  font-family: 'Bungee Inline', cursive;
}

.heading {
    margin-bottom: 0px
}

.display {
    margin-top: 5px;
}
